body {
    margin: 0;
    background: lightblue;
}

#game {
    width: 1000px;
    height: 500px;
    background: skyblue;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border: 3px solid black;
}

#platform {
    width: 1000px;
    height: 40px;
    background: green;
    position: absolute;
    bottom: 0;
}

#hero {
    width: 80px;
    position: absolute;
    bottom: 40px;
    left: 100px;
}

#enemy {
    width: 80px;
    position: absolute;
    bottom: 40px;
    left: 700px;
}
